{% extends 'listadoBase.html' %}

{% block columns %}
    <th>Nombre</th>
    <th>Marca</th>
    <th>Pulgadas</th>
    <th>Panel</th>
    <th>Resolución</th>
    <th>Foto</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Acciones</th>
{% endblock %}

{% block rows %}

    {% if object_list %}
    {% for object in Televisor %}
    <tr>
      <td>{{ object.nombretv }}</td>
      <td>{{ object.marca }}</td>
      <td>{{ object.pulgadas }}</td>
      <td>{{ object.tipoPanel }}</td>
      <td>{{ object.resolucion }}</td>
      <td>
          <img width="70px" src="{{ object.get_image }}" alt="sinfoto">
      </td>
      <td>{{ object.costo }}</td>
      <td>{{ object.stock }}</td>
      <td><a class="waves-effect waves-light btn-small" href="{%  url 'actualizartv' object.id %} ">Editar ✏️</a>
        <a class="waves-effect red darken-4 btn-small" href={%  url 'eliminartv' object.id %}>Eliminar <i class="large material-icons">clear</i></a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
        <h1>No hay registros</h1>
    {% endif %}
{% endblock %}